*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header{
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  background-color: white;


height: 80px;


 
}
.nav_class{
  
  padding: 20px;
  margin: auto 105.682px;
  display: flex;
  justify-content: space-around;
  
  /* grid-template-columns: 3fr 2fr; */
  
}
ul{
  list-style: none;
  display: flex;
  /* justify-content: flex-end; */
  font-size: 20px;
  
  
}
li{
  line-height:40px;
  margin: 0 20px;

}
.first_nav{
  color:#00b39b ;
}
a:hover{
  color: #00b39b;
}
a:active{
  color: #00b39b; 
}
.introduction{
  text-align: center;
  padding-top: 80px;
}
#logo{
  padding-top: 20px;
}
#first_h2{
  padding-top: 20px;
  color:#00b39b ;
}
.info{
  display: flex ;
  justify-content: center;
  
  
}
.col-1,.col-2{
  width: 400px;
  height: auto;
  padding: 50px 20px ;
}
.patients{
  margin: 20px 150px;
  display: flex;
  justify-content: space-between;
}
.patients1{
  width: 50%;
  background-color: #00ccb1;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.patients2{
  width: 50%;
  background-color: #3d83df;
  margin: 5px;
  border-radius:10px;
  overflow: hidden;
}
.content{
  padding:20px 30px;
}
figure{
  padding-left: 250px;
  
  
}
.fig2{
  padding-top:80px;
}
.dropdown{
  padding:0 30px;
  
}
#pays{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  
}
.content p{
  color: #b3ead2;

}
.content h1{
  color: white;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  
  font-size: 2em;
  margin-top: 30px;
}
.company{
  margin: 0px 150px;
  display: flex;
  justify-content: space-between;
}
.h{
  flex-basis: 230px;
}
.location{
  width: 700px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.l{
  margin: 20px;
}
